{{!-- book-details.hbs --}}

<h1>{{username}}</h1>
<hr>
<p>User Name: {{username}}</p>
<p>First Name: {{firstName}}</p>
<p>Last Name: {{lastName}}</p>
<p>Email: {{email}}</p>
<p>Admin: {{isAdmin}}</p>
<p>cellPhone: {{cellPhone}}</p>
<hr>
<a href="/users">Back</a>