<h2>Profile</h2>
<h3>WELCOME {{user}}  </h3>

</div>
<br>
<h2>Welcome - Enjoy the Best Tastes and Flavors</h2>
<div class="page-cont">
  <h2>Always eat well</h2>
  <section class='home-search'>
  <h3>The dining experience at Tresbien is now more local and authentic. Great producers, 
      ingredients and services for the best experience.

Remember traditions or explore new flavors around the table. 

On a terrace overlooking the sea or the golf course, next to a big pool or viewing the best sunset. 
We provide you with memories.</h3>


  <form action='/profile' method='post'>
    <label for=''>Table</label>
    <input type='text' number='table' id="prof-input" value="">
    <button class='is-primary' type='submit'>Search Options</button>
  </form>
  </section>

<h4>Please Select a Table</h4>
<form action='/profile' method='post'>
  <label for=''>Table number</label>
  <input type='number' number='table' booked="">
  <button class='is-primary' type='submit'>Search Options</button>
</form>


<h3>All the Tables</h3>

{{#each table}}
<div>
Table Number:{{this.tableNumber}}.
Capacity :{{this.capacity}}.
IsAvailable: ${{this.IsAvailable}}.
Res. Hour:{{this.resHour}}.
Table Satus:{{this.boking}}.
Booking:{{this.isAvailable}}.
<form action="/profile/available/{{this._id}}" method="post">
<button class='is-primary' type="submit">available</button> </form>
<form action="/profile/edit/{{this._id}}" method="get">
<button class='is-primary' type="submit">edit</button> </form>
<form action="/profile/delete/{{this._id}}" method="post">
<button class='is-primary' type="submit">delete</button> </form>
</div>
{{/each}} 
  <h2>Booking</h2>
      {{#each tables}}
    <section class="profile-title-bar"> 
      <div class="profile-table">
        <p>
        {{this.table}}
        Booking: ${{this.booking}}.
        Number:{{this.number}}.
        bookedBy:{{this.user}}.
        </p>
      </div>
      <div class="profile-btns">
        <form action="/profile/available/{{this._id}}" method="post">
        <button class='is-primary' type="submit">Avail.</button> </form>
        <form action="/profile/edit/{{this._id}}" method="get">
        <button class='is-alt' type="submit">edit</button> </form>
        <form action="/profile/delete/{{this._id}}" method="post">
        <button class='is-secondary' type="submit">delete</button> </form>
      </div>
    </section>
      {{/each}}
      <p style="font-size: 9px"><i>"Now it´s time to enjoy.See you soon!"</i></p>
</div> 